{% extends "base.html" %}

{% block content %}
<h2>Liste des clients</h2>
<table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client['id'] }}</td>
            <td>{{ client['username'] }}</td>
            <td>{{ client['email'] }}</td>
            <td>{{ client['phone'] }}</td>
            <td>
                <a href="{{ url_for('admin_client', user_id=client['id']) }}">connexion</a> |
                <a href="{{ url_for('admin_fabricant', delete_client=client['id']) }}" onclick="return confirm('Êtes-vous sûr ?')">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin_fabricant') }}">Retour</a>
{% endblock %}